# CSV Module

In [11]:
import csv
import os

In [12]:
os.getcwd()

'c:\\Users\\akireyev1\\Desktop\\vscode\\OIM3640\\In Class'

In [13]:
file = open('../data/spy.csv', mode = 'r', newline = '')
reader = csv.reader(file)
header = next(reader)
data = [row for row in reader]
file.close()

In [14]:
print(data)     # list of lists!
print(header)

[['02/23/2024', '509.27', '510.13', '507.10', '507.85', '61,321,820'], ['02/22/2024', '504.01', '508.49', '503.02', '507.50', '76,402,547'], ['02/21/2024', '495.42', '497.37', '493.56', '497.21', '59,603,770'], ['02/20/2024', '497.72', '498.41', '494.45', '496.76', '71,736,734'], ['02/16/2024', '501.70', '502.87', '498.75', '499.51', '75,532,930'], ['02/15/2024', '499.29', '502.20', '498.80', '502.01', '61,682,961'], ['02/14/2024', '496.79', '499.07', '494.40', '498.57', '68,387,828'], ['02/13/2024', '494.53', '497.09', '490.72', '494.08', '113,099,203'], ['02/12/2024', '501.17', '503.50', '500.24', '500.98', '56,502,281'], ['02/09/2024', '498.84', '501.65', '498.49', '501.20', '63,979,379'], ['02/08/2024', '498.10', '498.71', '497.26', '498.32', '52,343,641'], ['02/07/2024', '496.29', '498.53', '495.36', '498.10', '70,556,516'], ['02/06/2024', '493.52', '494.32', '492.05', '493.98', '55,918,602'], ['02/05/2024', '493.70', '494.38', '490.23', '492.55', '75,757,102'], ['02/02/2024', '489.65', '496.05', '489.30', '494.35', '99,228,195'], ['02/01/2024', '484.63', '489.23', '483.80', '489.20', '91,891,641'], ['01/31/2024', '488.62', '489.08', '482.86', '482.88', '126,011,102'], ['01/30/2024', '490.56', '491.62', '490.11', '490.89', '58,618,391'], ['01/29/2024', '487.73', '491.42', '487.17', '491.27', '61,322,754'], ['01/26/2024', '487.59', '489.12', '486.54', '487.41', '76,641,609'], ['01/25/2024', '487.58', '488.31', '485.39', '488.03', '72,524,992'], ['01/24/2024', '487.81', '488.77', '484.88', '485.39', '81,765,039']]
['Date', 'Open', 'High', 'Low', 'Close', 'Volume']

# Databases

In [15]:
import sqlite3

In [16]:
connection = sqlite3.connect('../data/demo.db')     # create a database, if it already exists it just connects to it
cursor = connection.cursor()

In [17]:
# Create the table
cursor.execute("DROP TABLE IF EXISTS data")         # Run SQL in the db, dont run this if data exists, it will overwite the table and create a new one

In [ ]:
cursor.execute('''CREATE TABLE
    data(id integer primary key autoincrement,
    date text,
    open real,
    high real,
    low real,
    close real,
    volume integer)
''')

In [18]:
datapoint = data[0]
sql = '''INSERT INTO data(date, open, high, low, close, volume)
        VALUES (?,?,?,?,?,?)'''

In [19]:
cursor.execute(sql, datapoint)

In [21]:
connection.commit()     # Commit to the db

### Query Data

In [22]:
sql = 'SELECT * FROM data'
cursor.execute(sql)
result = cursor.fetchone()

In [23]:
print(result)

(1, '02/23/2024', 509.27, 510.13, 507.1, 507.85, '61,321,820')

In [24]:
connection.close()